hr {
    border-top: 1px solid #cdcdcd !important;
}

pre {
    color: #aaa;
}

.col-form-label {
    text-align: right;
}

.carousel {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.carousel-item {
    height: 400px;
}

#uploadComponents {
    height: 300px;
    border: 3px dashed #ccc;
    border-radius: 7px;
    background: #eee;
}
